* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("/fonts/Montserrat-Regular.ttf") format('ttf');
}

h3, h2 {
    font-weight: normal;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 50px;
    background-color: rgba(217, 217, 217, 100%);
}

.header-title {
    font-weight: normal;
    font-size: 27px;
}

.main {
    width: 85vw;
    margin: auto;
    /*min-height: calc(100vh - (var(--footer-height) + var(--header-height)));*/
}

.nav-container {
    width: 85vw;
    margin: auto;
}

.nav {
    margin: 40px 0 40px 0;
    width: fit-content;
    padding: 10px;
    background-color: rgba(217, 217, 217, 20%);
    border-radius: 5px;
}

.nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.nav > a:hover {
    color: rgba(0, 0, 255, 0.82);
    border-bottom: 1px solid rgba(0, 0, 255, 0.82);
}

/*admin styles*/
.add-doctor-form > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.add-patient-form > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.patient-record-form > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.add-doctor-form > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.add-doctor-form > form > label {
    margin-bottom: 10px;
}

.add-doctor-form > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.add-doctor-form > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.add-doctor-form > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

.forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 300px;
    grid-row-gap: 100px;
}

.add-patient-form > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.add-patient-form > form > label {
    margin-bottom: 10px;
}

.add-patient-form > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.add-patient-form > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.add-patient-form > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

.patient-record-form > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.patient-record-form > form > label {
    margin-bottom: 10px;
}

.patient-record-form > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.patient-record-form > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.patient-record-form > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

/*login*/
.form {
    display: grid;
    width: 500px;
    margin: 140px auto;
}

.login-form > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.login-form > form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.login-form > form > label {
    margin-bottom: 10px;
}

.login-form > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.login-form > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.login-form > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

/*register*/
.register-form > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.register-form > form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.register-form > form > label {
    margin-bottom: 10px;
}

.register-form > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.register-form > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 140px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.register-form > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

/*reception*/
.main {
    margin-top: -8px;
}

/*choices*/
.choose-all-diagnosis > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.choose-all-diagnosis > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.choose-all-diagnosis > form > input[type="button"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
}

.choose-all-diagnosis > form > input[type="button"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

.choose-all-patients > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.choose-all-patients > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.choose-all-patients > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.choose-all-patients > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}


.choose-all-doctors > form {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 30px;
    background-color: rgba(170, 170, 170, 5%);
    border-radius: 5px;
}

.choose-all-doctors > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.choose-all-doctors > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.choose-all-doctors > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

.results {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    align-items: center;
    padding: 10px;
    background-color: rgba(170, 170, 170, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
}

.results > span {
    margin-bottom: 5px;
}

.results > form > input, select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.results > form > input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    background: black;
    color: white;
    grid-column: 1/3;
    grid-row: 7/8;
    margin: 10px auto;
}

.results > form > input[type="submit"]:hover {
    transition: .1s;
    background: white;
    color: black;
}

footer {
    display: flex;
    background-color: rgba(217, 217, 217, 43%);
    margin-top: 10px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

footer > span {
    text-transform: uppercase;
    filter: opacity(50%);
}

footer > img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    filter: grayscale(1) opacity(50%);
}